<!DOCTYPE html>
<!-- certcheckweb v1.0 - 2021-10-27 -->
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Certificate Check</title>
</head>
<body style="
    margin-left: 5px;
    margin-right: 5px;
">
    <h1>Certificate Check Web</h1>
    <!-- This scans as soon as the link is clicked, so can take a minute to run. Be patient. 😉  -->
    <p>A tool to sweep through a defined list of endpoints to get certificate expirations.</p>
    <p><a href="/web">Click here</a> to scan/report server endpoints. </p>
    <p>Alternately - a <a href="/dump">JSON dump</a> of the endpoints.</p>

</body>
</html>
